In [4]:
import pandas as pd 
item_dict = pd.read_csv("item_dict.csv")
user_dict = pd.read_csv("user_dict.csv")

In [5]:
item_dict

       itemidx  orginidx
0          151         0
1          223         1
2          253         2
3          260         3
4          293         4
...        ...       ...
20103    71458     20103
20104    87392     20104
20105    95615     20105
20106   110167     20106
20107   110510     20107

[20108 rows x 2 columns]